.app
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:70vh;
}

.app > *
{
    margin-top:20px;
}

.typography
{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
}
.typography h1
{
    font-weight:lighter;
    font-size: 33px;
    margin-top:20px;
}
.typography p
{
    color:#323232;
    font-size:12px;
    margin:20px 0px;
}

.header-emphasis
{
    color:#FF1E56;
    font-weight:bold;
}
.name-emphasis
{
    color:#FF1E56;
    font-weight:lighter;
}

#secret-input
{
    width:350px;
    height:200px;
    border-radius:2px;
    resize:none;
    border:1px solid #323232;
    background: transparent;
    color:white;
    padding:5px 20px;
    font-size:12px;
}

#secret-input::placeholder
{
    color:#323232;
}

#secret-input:focus
{
    border:1px solid #FF1E56;
}

.action-button
{
    padding:10px 20px;
    background:#323232;
    color:white;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
    font-size:12px;
    border:none;
}

.action-button:active
{
    border:1px solid #FF1E56;
}

.discord-stuff
{
    display:flex;
    justify-content:space-between;
    width:370px;
    align-items:center;
    color: #323232;
    font-size:15px;
}

.discord-stuff a
{
    text-decoration:none;
    color:white;
}

.discord-tag
{
    color:white;
}